.container{
    display: flex;
    flex-direction:column ;
}


.containerItem{
    display: flex;
    justify-content: space-around;
}
.resultTotal{
    align-items: center;
    font-size: xx-large;
}
button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tableOne >table{
    width: 300px;
}




