

  

  .formItem{
   

  }
  .regInput{
   
  }

  .formContainer{
      display: flex;
      align-items: center;
      flex-wrap:wrap;
      flex-flow: column wrap;
  }

button{
    margin-top: 10px;
    width: 200px;
    height: 30px;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.results{
    display: flex;
    justify-content: center;
}



